<form class="{{cssClass}} foundry-reset dndmashup" autocomplete="off">
	<article class="flex flex-col h-full">
		<header class="flex flex-row gap-1">
			<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" class="w-24 h-24 border-2 border-black p-px" />
			<div class="grid grid-cols-12 grid-rows-2 gap-x-1">
				<label class="col-span-5">
					<input
						name="name"
						type="text"
						value="{{actor.name}}"
						class="w-full border-solid border-b-2 border-black text-lg" />
					<span class="text-sm">Character Name</span>
				</label>
				<label class="col-span-3">
					<input
						name="data.details.race"
						type="text"
						value="{{data.details.race}}"
						class="w-full border-solid border-b-2 border-black text-lg" />
					<span class="text-sm">Race</span>
				</label>
				<label class="col-span-3">
					<input
						name="data.details.class"
						type="text"
						value="{{data.details.class}}"
						class="w-full border-solid border-b-2 border-black text-lg" />
					<span class="text-sm">Class</span>
				</label>
				<label class="">
					<input
						name="data.details.level"
						type="text"
						value="{{data.details.level}}"
						class="w-full border-solid border-b-2 border-black text-lg text-center"
						data-dtype="Number" />
					<span class="text-sm">Level</span>
				</label>
				<label class="col-span-5">
					<input
						name="data.details.paragonPath"
						type="text"
						value="{{data.details.paragonPath}}"
						class="w-full border-solid border-b-2 border-black text-lg" />
					<span class="text-sm">Paragon Path</span>
				</label>
				<label class="col-span-5">
					<input
						name="data.details.epicDestiny"
						type="text"
						value="{{data.details.epicDestiny}}"
						class="w-full border-solid border-b-2 border-black text-lg" />
					<span class="text-sm">Epic Destiny</span>
				</label>
				<label class="col-span-2">
					<input
						name="data.details.exp"
						type="text"
						value="{{data.details.exp}}"
						class="w-full border-solid border-b-2 border-black text-lg text-center"
						data-dtype="Number" />
					<span class="text-sm">EXP</span>
				</label>
			</div>
		</header>

		<div class="flex gap-1 flex-row border-t-2 border-b-2 border-black m-1 p-1 justify-around">
			<section class="flex flex-col items-center">
				<h2 class="text-lg">Hit Points</h2>
				<div class="flex justify-start items-center gap-1">
					<label class="w-16 inline-block gap-1 flex-grow">
						<input
							type="text"
							name="data.health.currentHp"
							value="{{data.health.currentHp}}"
							data-dtype="Number"
							class="w-full border-solid border-b-2 border-black text-lg text-center" />
						<span>Current</span>
					</label>
					<span class="text-lg">/ {{data.health.maxHp}}</span>
				</div>
				<label>
					Temp HP
					<input
						type="text"
						name="data.health.temporaryHp"
						value="{{data.health.temporaryHp}}"
						data-dtype="Number"
						class="w-16 border-solid border-b-2 border-black text-lg text-center" />
				</label>
			</section>
			<div class="border-r-2 border-black"></div>

			<section class="flex flex-col items-center">
				<h2 class="text-lg">Defenses</h2>
				<div class="flex flex-wrap gap-1">
					<label class="w-8">
						<span class="block w-full text-center border-solid border-b-2 border-black p-1">{{data.defenses.ac}}</span>
						<span class="text-sm block w-full text-center">AC</span>
					</label>

					<label class="w-8">
						<span class="block w-full text-center border-solid border-b-2 border-black p-1"
							>{{data.defenses.fort}}</span
						>
						<span class="text-sm block w-full text-center">Fort</span>
					</label>
					<label class="w-8">
						<span class="block w-full text-center border-solid border-b-2 border-black p-1"
							>{{data.defenses.refl}}</span
						>
						<span class="text-sm block w-full text-center">Refl</span>
					</label>
					<label class="w-8">
						<span class="block w-full text-center border-solid border-b-2 border-black p-1"
							>{{data.defenses.will}}</span
						>
						<span class="text-sm block w-full text-center">Will</span>
					</label>
				</div>
			</section>
			<div class="border-r-2 border-black"></div>

			<section class="flex flex-col items-center">
				<h2 class="text-lg">Healing Surges</h2>
				<div>
					<span>Value: {{data.health.surges.value}}</span>
					/
					<label>
						<input type="checkbox" name="data.health.secondWindUsed" {{checked data.health.secondWindUsed}} />
						Second Wind Used
					</label>
				</div>
				<div class="flex justify-start items-center gap-1 flex-grow">
					<label class="w-16 inline-block">
						<input
							type="text"
							name="data.health.surges.remaining"
							value="{{data.health.surges.remaining}}"
							data-dtype="Number"
							class="w-full border-solid border-b-2 border-black text-lg text-center" />
						<span>Remaining</span>
					</label>
					<span class="text-lg">/ {{data.health.surges.max}}</span>
				</div>
			</section>
			<div class="border-r-2 border-black"></div>

			<section class="flex flex-col items-center">
				<h2 class="text-lg">Action Points</h2>
				<label class="w-16 flex flex-col items-center">
					<input
						type="text"
						name="data.actionPoints.value"
						value="{{data.actionPoints.value}}"
						data-dtype="Number"
						class="w-full border-solid border-b-2 border-black text-lg text-center" />
					<span>Current</span>
				</label>
				<label class="mt-2">
					<input
						type="checkbox"
						name="data.actionPoints.usedThisEncounter"
						{{checked
						data.actionPoints.usedThisEncounter}} />
					Used
				</label>
			</section>
		</div>

		<div class="flex-grow flex flex-row gap-1">
			<div>Abilities/Skills/Etc.</div>
			<div class="border-r-2 border-black"></div>
			<div class="flex-grow">
				<nav data-group="primary">
					<a data-tab="description">Description</a>
					<a data-tab="items">Items</a>
				</nav>

				<section data-tab-section>
					<div class="tab" data-group="primary" data-tab="description">Description</div>
					<div class="tab" data-group="primary" data-tab="items">Items</div>
				</section>
			</div>
		</div>
	</article>
</form>
