<form class="{{cssClass}} foundry-reset dndmashup" autocomplete="off">
	<article class="flex flex-col h-full">
		<header class="flex flex-row gap-1">{{> (templates.header) }}</header>

		<div class="flex gap-1 flex-row border-t-2 border-b-2 border-black m-1 p-1 justify-around">
			<section class="flex flex-col items-center">{{> (templates.hitPoints) }}</section>
			<div class="border-r-2 border-black"></div>

			<section class="flex flex-col items-center">{{> (templates.defenses) }}</section>
			<div class="border-r-2 border-black"></div>

			<section class="flex flex-col items-center">{{> (templates.healingSurges) }}</section>
			<div class="border-r-2 border-black"></div>

			<section class="flex flex-col items-center">{{> (templates.actionPoints) }}</section>
		</div>

		<div class="flex-grow flex flex-row gap-1">
			<div>{{> (templates.abilities) }}</div>
			<div class="border-r-2 border-black"></div>
			<div class="flex-grow flex flex-col">
				<nav data-group="primary" class="flex justify-around border-b border-black">
					<label data-tab="details" class="link uppecase">Details</label>
					<label data-tab="inventory" class="link uppecase">Inventory</label>
					<label data-tab="powers" class="link uppecase">Powers</label>
					<label data-tab="features" class="link uppecase">Features</label>
					<label data-tab="feats" class="link uppecase">Feats</label>
					<label data-tab="effects" class="link uppecase">Effects</label>
				</nav>

				<section class="flex-grow" data-tab-section>
					<div class="tab w-full h-full" data-group="primary" data-tab="details">{{> (templates.details) }}</div>
					<div class="tab w-full h-full" data-group="primary" data-tab="inventory">{{> (templates.inventory) }}</div>
					<div class="tab w-full h-full" data-group="primary" data-tab="powers">{{> (templates.powers) }}</div>
					<div class="tab w-full h-full" data-group="primary" data-tab="features">{{> (templates.features) }}</div>
					<div class="tab w-full h-full" data-group="primary" data-tab="feats">{{> (templates.feats) }}</div>
					<div class="tab w-full h-full" data-group="primary" data-tab="effects">{{> (templates.effects) }}</div>
				</section>
			</div>
		</div>
	</article>
</form>
