<label class="col-span-6">
	<select name="data.equipmentProperties.category" class="w-full input-text text-lg text-center">
		{{selectOptions weaponCategories selected=itemData.equipmentProperties.category}}
	</select>
	<span class="text-sm">Category</span>
</label>
<label class="col-span-6">
	<select name="data.equipmentProperties.hands" class="w-full input-text text-lg text-center">
		{{selectOptions weaponHands selected=itemData.equipmentProperties.hands}}
	</select>
	<span class="text-sm">Hands</span>
</label>

<label class="col-span-4">
	<input
		name="data.equipmentProperties.proficiencyBonus"
		type="number"
		value="{{itemData.equipmentProperties.proficiencyBonus}}"
		class="w-full input-text text-lg text-center"
		data-dtype="Number" />
	<span class="text-sm">Prof.</span>
</label>
<label class="col-span-4">
	<input
		name="data.equipmentProperties.damage"
		type="text"
		value="{{itemData.equipmentProperties.damage}}"
		class="w-full input-text text-lg text-center" />
	<span class="text-sm">Damage</span>
</label>
<label class="col-span-4">
	<input
		name="data.equipmentProperties.range"
		type="text"
		value="{{itemData.equipmentProperties.range}}"
		class="w-full input-text text-lg text-center" />
	<span class="text-sm">Range</span>
</label>
<label class="col-span-6">
	<select name="data.equipmentProperties.group" class="w-full input-text text-lg text-center">
		{{selectOptions weaponGroups selected=itemData.equipmentProperties.group}}
	</select>
	<span class="text-sm">Group</span>
</label>

{{> (templates.otherDetails) }}
