<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" class="w-24 h-24 border-2 border-black p-px" />
<div class="grid grid-cols-12 grid-rows-2 gap-x-1">
	<label class="col-span-5">
		<input name="name" type="text" value="{{actor.name}}" class="w-full input-text text-lg" />
		<span class="text-sm">Character Name</span>
	</label>
	<label class="col-span-3">
		<span class="inline-block w-full input-text text-lg">{{actorData.details.race}}</span>
		<span class="text-sm">Race</span>
	</label>
	<label class="col-span-3">
		<span class="inline-block w-full input-text text-lg">{{actorData.details.class}}</span>
		<span class="text-sm">Class</span>
	</label>
	<label class="">
		<input
			name="data.details.level"
			type="number"
			value="{{actorData.details.level}}"
			class="w-full input-text text-lg text-center"
			data-dtype="Number" />
		<span class="text-sm">Level</span>
	</label>
	<label class="col-span-5">
		<input
			name="data.details.paragonPath"
			type="text"
			value="{{actorData.details.paragonPath}}"
			class="w-full input-text text-lg" />
		<span class="text-sm">Paragon Path</span>
	</label>
	<label class="col-span-5">
		<input
			name="data.details.epicDestiny"
			type="text"
			value="{{actorData.details.epicDestiny}}"
			class="w-full input-text text-lg" />
		<span class="text-sm">Epic Destiny</span>
	</label>
	<label class="col-span-2">
		<input
			name="data.details.exp"
			type="number"
			value="{{actorData.details.exp}}"
			class="w-full input-text text-lg text-center"
			data-dtype="Number" />
		<span class="text-sm">EXP</span>
	</label>
</div>
