<h2 class="text-lg">Healing Surges</h2>
<div>
	<span>Value: {{actorData.health.surges.value}}</span>
	/
	<label>
		<input type="checkbox" name="data.health.secondWindUsed" {{checked actorData.health.secondWindUsed}} />
		Second Wind Used
	</label>
</div>
<div class="flex justify-start items-center gap-1 flex-grow">
	<label class="w-16 inline-block">
		<input
			type="number"
			name="data.health.surges.remaining"
			value="{{actorData.health.surges.remaining}}"
			data-dtype="Number"
			class="w-full input-text text-lg text-center" />
		<span>Remaining</span>
	</label>
	<span class="text-lg pb-4">/ {{actorData.health.surges.max}}</span>
</div>
