<form class="{{cssClass}} foundry-reset dndmashup" autocomplete="off">
	<div class="h-full flex flex-col gap-1">
		<div class="flex flex-row gap-1">
			<img src="{{item.img}}" data-edit="img" title="{{item.name}}" class="w-24 h-24 border-2 border-black p-px" />
			<div class="grid grid-cols-12 grid-rows-2 gap-x-1 items-end">
				<label class="col-span-6">
					<input name="name" type="text" value="{{item.name}}" class="w-full input-text text-lg" />
					<span class="text-sm">Class Name</span>
				</label>
				<label class="col-span-6">
					<select name="data.role" value="{{itemData.role}}" class="w-full input-text text-lg">
						<option value="Striker">Striker</option>
						<option value="Defender">Defender</option>
						<option value="Leader">Leader</option>
						<option value="Controller">Controller</option>
					</select>
					<span class="text-sm">Role</span>
				</label>
				<label class="col-span-3">
					<input
						name="data.powerSource"
						type="text"
						value="{{itemData.powerSource}}"
						class="w-full input-text text-lg" />
					<span class="text-sm">Power Source</span>
				</label>
				{{#each itemData.keyAbilities as | ability a |}}
				<label class="col-span-3">
					<select name="data.keyAbilities.{{a}}" value="{{ability}}" class="w-full input-text text-lg">
						<option value="str">STR</option>
						<option value="con">CON</option>
						<option value="dex">DEX</option>
						<option value="int">INT</option>
						<option value="wis">WIS</option>
						<option value="cha">CHA</option>
					</select>
					<span class="text-sm">Key Ability</span>
				</label>
				{{/each}}
			</div>
		</div>
		<div class="grid grid-cols-12 gap-x-1">
			<label class="col-span-2">
				<div class="w-full flex items-baseline input-text">
					<input
						name="data.hpBase"
						type="number"
						value="{{itemData.hpBase}}"
						class="flex-auto text-lg text-center min-w-0"
						data-dtype="Number" />
					<span class="flex-shrink-0">+ CON</span>
				</div>
				<span class="text-sm">Base HP</span>
			</label>
			<label class="col-span-2">
				<input
					name="data.hpPerLevel"
					type="number"
					value="{{itemData.hpPerLevel}}"
					class="w-full input-text text-lg text-center"
					data-dtype="Number" />
				<span class="text-sm">HP per Level</span>
			</label>
			<label class="col-span-2">
				<input
					name="data.healingSurgesBase"
					type="number"
					value="{{itemData.healingSurgesBase}}"
					class="w-full input-text text-lg text-center"
					data-dtype="Number" />
				<span class="text-sm">Healing Surges</span>
			</label>
		</div>
		<div class="border-b border-black"></div>
		{{> (templates.bonuses) className="flex-grow" bonusList=grantedBonuses dataPath='grantedBonuses' context=bonuses }}
	</div>
</form>
