<div class="grid grid-cols-3 gap-1 items-center justify-items-center">
	<h2 class="text-lg col-span-3">Abilities</h2>
	{{#each actorData.abilities as | ability a |}}
	<input
		class="w-8 input-text text-lg text-center"
		name="data.abilities.{{a}}.base"
		type="number"
		data-dtype="Number"
		value="{{ability.base}}"
		onfocus="this.select()"
		placeholder="10" />
	<label class="uppercase font-bold link" title="{{a}}">{{a}}</label>
	<span title="{{a}}">{{numberFormat ability.final decimals=0 sign=true}}</span>
	{{/each}}
</div>
