<h2 class="text-lg">Defenses</h2>
<div class="flex flex-wrap gap-1">
	<label class="w-8">
		<span class="block w-full text-center input-text p-1">{{actorData.defenses.ac}}</span>
		<span class="text-sm block w-full text-center">AC</span>
	</label>

	<label class="w-8">
		<span class="block w-full text-center input-text p-1">{{actorData.defenses.fort}}</span>
		<span class="text-sm block w-full text-center">Fort</span>
	</label>
	<label class="w-8">
		<span class="block w-full text-center input-text p-1">{{actorData.defenses.refl}}</span>
		<span class="text-sm block w-full text-center">Refl</span>
	</label>
	<label class="w-8">
		<span class="block w-full text-center input-text p-1">{{actorData.defenses.will}}</span>
		<span class="text-sm block w-full text-center">Will</span>
	</label>
</div>
