@import url('https://fonts.googleapis.com/css?family=Lato|Martel|Source+Serif+Pro|IM+Fell+Great+Primer');
@import '_reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply theme-blue-dark;
}

.foundry-reset.dndmashup {
	.theme-4e-indent + .theme-4e-indent {
		@apply indent-4;
	}
	ul.theme-4e-list li::marker {
		content: '✦ ';
		@apply text-theme;
	}

	.focusable {
		@apply focus:ring-blue-bright-600 focus:ring-1;
	}

	.ring-text-shadow {
		text-shadow: 0px 0px 5px var(--tw-ring-color);
	}

	nav .active {
		@apply font-bold;
	}

	.editor,
	.editor-content {
		height: 100%;
	}
}
