@import '_reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply theme-blue-dark;
}

.foundry-reset.dndmashup {
	.theme-4e-indent + .theme-4e-indent {
		@apply indent-4;
	}
	ul.theme-4e-list li::marker {
		content: '✦ ';
		@apply text-theme;
	}

	.input-text {
		@apply border-solid border-b-2 border-black;
		@apply focus:ring-blue-bright-600 focus:ring-1;
	}

	.focusable {
		@apply focus:ring-blue-bright-600 focus:ring-1;
	}

	.link,
	[data-show-item]:not([data-show-item='']) {
		@apply ring-transparent hover:ring-blue-bright-600 cursor-pointer;
		text-shadow: 0px 0px 5px var(--tw-ring-color);

		&.active {
			@apply font-bold;
		}
	}

	.editor,
	.editor-content {
		height: 100%;
	}
}
