<form class="{{cssClass}} foundry-reset dndmashup" autocomplete="off">
	<div class="h-full flex flex-col gap-1">
		<div class="flex flex-row gap-1">
			<img src="{{item.img}}" data-edit="img" title="{{item.name}}" class="w-24 h-24 border-2 border-black p-px" />
			<div class="grid grid-cols-12 gap-x-1 items-end">
				<label class="col-span-9">
					<input name="name" type="text" value="{{item.name}}" class="w-full input-text text-lg" />
					<span class="text-sm">Item Name</span>
				</label>
				<label class="col-span-3">
					<select name="data.itemSlot" class="w-full input-text text-lg text-center">
						{{selectOptions itemSlots selected=itemData.itemSlot}}
					</select>
					<span class="text-sm">Item Slot</span>
				</label>

				<p class="col-span-12">{{summary}}</p>
			</div>
		</div>
		<div class="border-b border-black"></div>
		<nav data-group="primary" class="flex justify-around border-b border-black">
			<label data-tab="details" class="link uppecase">Details</label>
			<label data-tab="description" class="link uppecase">Description</label>
			<label data-tab="bonuses" class="link uppecase">Bonuses</label>
		</nav>

		<section class="flex-grow" data-tab-section>
			<div class="tab w-full h-full" data-group="primary" data-tab="details">
				<div class="grid grid-cols-12 gap-x-1 items-end">{{> (templates.details) }}</div>
			</div>
			<div class="tab w-full h-full" data-group="primary" data-tab="description">{{> (templates.description) }}</div>
			<div class="tab w-full h-full" data-group="primary" data-tab="bonuses">
				{{> (templates.bonuses) className="flex-grow" bonusList=grantedBonuses dataPath='grantedBonuses' context=bonuses
				}}
			</div>
		</section>
	</div>
</form>
